<section id="home-banner">
  <div class="container">

    <h1>Hire expert freelancers for your online job.</h1>

    <p>Millions of small businesses use Freelancer.com to turn their ideas into reality. Need to get work done? Click 'Hire' to get started!</p>

    <a href="#" class="btn btn-xxlarge btn-plain-alt" >Hire</a>
    <a href="#" class="btn btn-xxlarge btn-plain-alt" >Work</a>
  </div>
  <ol id="banner-list">
      <li class="banner-bg banner-nasa">
        <div class="container">
          <span class="banner-upsell">Nasa Tournament Lab challenges starting from $50</span>
        </div>
      </li>
      <li class="banner-bg banner-travel">
        <div class="container">
          <span class="banner-upsell">Exciting travel app design for $100</span>
        </div>
      </li>
      <li class="banner-bg banner-illustration">
        <div class="container">
          <span class="banner-upsell">A beautiful illustration for only $30</span>
        </div>
      </li>
  </ol>
</section>
