<section id="home-banner">
  <div class="container">
    <div class="banner-bg toggle-image bg-nasa show"></div>
    <div class="banner-bg toggle-image bg-travel"></div>
    <div class="banner-bg toggle-image bg-illustration"></div>

    <div class="row">
      <div class="col-sm-6" id="banner-col">
        <h1 class="white-text">Hire expert freelancers for your online job.</h1>

        <p class="white-text subheader-text">Millions of small businesses use Freelancer.com to turn their ideas into reality. Need to get work done? Click 'Hire' to get started!</p>

        <a href="#" class="btn btn-xxlarge btn-default banner-btn" >Hire</a>
        <a href="#" class="btn btn-xxlarge btn-default banner-btn" >Work</a>


        <h3 class="white-text banner-text nasa-text show">NASA Tournament Lab challenges starting from $50</h3>
        <h3 class="white-text banner-text illustration-text">A beautiful illustration for only $30</h3>
        <h3 class="white-text banner-text travel-text">Exciting travel app design for $100</h3>
      </div>
  </div>
  </div>
</section>
