<section class="showcase">
  <div class="container">
    <h2 class="showcase-title">Hire Freelancers and Find Freelance Jobs Online </h2>

    <div class="project-showcase-container">

      <div class="row row-top">

        <div class="col-sm-3 project-showcase project-showcase-1">
          <div class="showcase-overlay">
            <div class"showcase-overlay-inner">
              <span class="showcase-name">Website Development</span>
              <span class="show-case-price">Starting from $100</span>
              <span class="btn btn-plain-alt">Post a Project Likes This</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3 project-showcase project-showcase-2">
          <div class="showcase-overlay">
            <div class"showcase-overlay-inner">
              <span class="showcase-name">Website Development</span>
              <span class="show-case-price">Starting from $100</span>
              <span class="btn btn-plain-alt">Post a Project Likes This</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3 project-showcase project-showcase-3">
          <div class="showcase-overlay">
            <div class"showcase-overlay-inner">
              <span class="showcase-name">Website Development</span>
              <span class="show-case-price">Starting from $100</span>
              <span class="btn btn-plain-alt">Post a Project Likes This</span>
            </div>
          </div>
        </div>

      </div>


      <div class="row row-bottom">
        <div class="col-sm-3 project-showcase project-showcase-4">
          <div class="showcase-overlay">
            <div class"showcase-overlay-inner">
              <span class="showcase-name">Website Development</span>
              <span class="show-case-price">Starting from $100</span>
              <span class="btn btn-plain-alt">Post a Project Likes This</span>
            </div>
          </div>
        </div>

        <div class="col-sm-3 project-showcase project-showcase-5">
          <div class="showcase-overlay">
            <div class"showcase-overlay-inner">
              <span class="showcase-name">Website Development</span>
              <span class="show-case-price">Starting from $100</span>
              <span class="btn btn-plain-alt">Post a Project Likes This</span>
            </div>
          </div>
        </div>


        <div class="col-sm-3 project-showcase project-showcase-6">
          <div class="showcase-overlay">
            <div class"showcase-overlay-inner">
              <span class="showcase-name">Website Development</span>
              <span class="show-case-price">Starting from $100</span>
              <span class="btn btn-plain-alt">Post a Project Likes This</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>
